header{
    background: red;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

}

nav ul li a{
    display: block;
    background-color: #666;
    color: #FFF;
    margin: 3px 0;
    padding: 10px;
    text-decoration: none;
}

@media (min-width:760px){
    header{
        background: #00F;
    }
}