.hide{
    display: none;
}

a{
    background-color: #EEE;
    padding: 30px;
    display: inline-block;
    text-decoration: none;

}

a:hover{
    background-color: black;
    color: white;
    transition: ease-in-out 0.5s;
    border-radius: 30px 0;
}

.content-flex{
    display: flex;
    width: 1280px;
    justify-content: flex-start;
    height: 500px;
    align-items: center;
    flex-wrap: wrap;
}

.content-flex p{
    padding: 25px;
    width: 250px;
}