/* reset css */

*{
    margin: 0;
    padding: 0;
}

/* header */

header{
    justify-content: space-between;
    background-color: #666;
    width: 1280px;
    margin: auto;
    display: flex;   
}